/Starting project/GraphQLDotNetCore/.vs
/Starting project/GraphQLDotNetCore/GraphQLDotNetCore/bin
/Starting project/GraphQLDotNetCore/GraphQLDotNetCore/obj
/Part2/GraphQL_DotNetCore/GraphQLDotNetCore/obj
/Part2/GraphQL_DotNetCore/GraphQLDotNetCore/bin
/Part2/GraphQL_DotNetCore/.vs
/Part3/GraphQL_DotNetCore/.vs
/Part3/GraphQL_DotNetCore/GraphQLDotNetCore/obj
/Part3/GraphQL_DotNetCore/GraphQLDotNetCore/bin
/Part3/GraphQLDotNetCore/GraphQLDotNetCore/obj
/Part3/GraphQLDotNetCore/GraphQLDotNetCore/bin
/Part3/GraphQLDotNetCore/.vs
