/Starting project/GraphQLDotNetCore/.vs
/Starting project/GraphQLDotNetCore/GraphQLDotNetCore/bin
/Starting project/GraphQLDotNetCore/GraphQLDotNetCore/obj
/Part1-end/GraphQLDotNetCore/.vs
/Part1-end/GraphQLDotNetCore/GraphQLDotNetCore/obj
/Part1-end/GraphQLDotNetCore/GraphQLDotNetCore/bin
